<p id="notice"><%= notice %></p>

<div id="hello">
	
	<table border="0" cellpadding="2" cellspacing="2">
		<tr><td width="30%"><strong>Name</strong></td><td width="70%">Eric Bower</td></tr>
		<tr bgcolor="#C1CDCD"><td><strong>School</strong></td><td> Bowling Green State University</td></tr>
		<tr><td><strong>Degree</strong></td><td>Bachelor's (May 2012)</td></tr>
		<tr bgcolor="#C1CDCD"><td><strong>Major</strong></td><td> Neuroscience </td></tr>
		<tr><td><strong>Minor</strong></td><td> Chemistry </td></tr>
		<tr bgcolor="#C1CDCD"><td><strong>Current Job</strong></td><td>Junior Software Developer </td></tr>
		<tr><td><strong>Employer</strong></td><td>Nysus Solutions</td></tr>
		<tr bgcolor="#C1CDCD"><td><strong>Last Updated</strong></td><td>June 2012</td></tr>
	</table>
</div>

<div id="feed">
<h1>Curriculum Vitae of Eric Bower</h1><hr />

  <p>Greetings!  My name is Eric Bower and this is my website!  I intend to use this website as a platform for my activities and accomplishments.
     Currently, my life revolves around a few specific hobbies that I wish to discuss in this introductory page.</p>

  <p>I was once a Computer Science (CS) major and have taken roughly the equivalent of 2.5 years of CS classes.
     As a child I had this fascination with computers and when I received my first laptop when I was 13 years old, 
	 I've been  programming ever since.  I have worked for a couple professional companies as a freelance programmer.  
	 I mainly assisted in the web development areas of business.  My strongest programming languages -- and database tools -- would be PHP and mySQL.  
	 Most of the projects I have accomplished in the professional setting were because of my knowledge in PHP and mySQL.  
	 I also have foundational knowledge in JAVA, C/C++/C#, Javascript, Basic, HTML, XML, CSS, and AJAX.  
	 I am fully capable of learning any programming language quickly because of my study background and work ethic in Neuroscience.  
	 I also understand the concepts of syntax, logic, mathematics, object oriented programming, algorithms, and computation complexity to name a few pertaining to the art of programming.
  </p>

  <p>Before we arrive at the wrought interests that riddle my daily life, I wish to briefly describe to you my philosophy on what I desire out of life.  
     Friedrich Nietzsche said, "if you wish to understand a philosopher, do not ask what he says, but find out what he wants."
	 What I want out of life is knowledge, but I don't want just any knowledge that is floating through cyberspace; I want the most sophisticated standard of knowledge.  
	 I want knowledge that is empirical, peer-reviewed, evidence-based, and well founded on logic and reasoning.  
	 I need knowledge from science.  Science is the infrastructure on which I construct concepts, analyze, synthesize, and integrate information into my mind.  
	 Therefore, science is how I think about this pale blue dot that is "suspended in a sunbeam."  
	 Neil DeGrasse Tyson proclaims that when you have an understanding of science, "the world looks very different to you, and that understanding empowers you."
	 I feel empowered and choose to use this newly acquired thirst for understanding to expand my perception of the stellar, the quantum, and everything in between. 
	 However, to truly understand the scientific method, one must also acknowledge its limitations.  From an epistemological perspective, 
	 our "knowledge" gained from science is not "true" knowledge, but one based on what we --humans -- can perceive of this universe.  
	 Scientific discovery is similar to a pier being built in the ocean: 
	 with every successive plank you have ventured a little further into the ocean, but you will never be able to cover it.  
	 The same applies to science; we can peer into the universe to gain some form of human knowledge but we will never be able to fully grasp the complexity of the entire universe.  
	 This also ties in with Hume's problem of induction: where one makes a series of observations and infers a claim based on them.  
	 This often leads to a conclusion that doesn't necessarily follow its premises.  Now that you have a better perspective of what motivates me, 
	 I will briefly divulge my hobbies and areas of thought.
   </p>

	<div id="show" class="hidden">

		<p>As you probably should have guessed by my preface, science is the area that I focus most of my time, thoughts, and ideas.  
		   I genuinely have an affinity to learn as much about this universe as humanly possible and I love learning something so fundamental 
		   that it shakes the foundation of my understanding of the universe.
		</p>

		<p>I had previously worked at the Center for Teaching and Learning (CTL) as a faculty consultant for about 3 years.  
		   Basically, my job at BGSU pertained to me facilitating learning towards faculty, staff, professors on how to use software that is supported by the university.  
		   It's quite enthralling, the hierarchical switch that has happened in that environment for myself.  
		   Imagine for yourself, the psychological ramifications of having knowledge on a subject that a professor is completely dazed by.  
		   Being able to teach people my selective knowledge has accelerated my understanding of both sides of the classroom environment--and 
		   has made me feel privileged and grateful.  For example, at CTL I have facilitated workshops on a regular basis, which has improved 
		   my public speaking skills significantly.  I was constantly getting practice on how to improve my rapport in front of an audience.  
		   I'm not some genius orator, but I have noticed a substantial increase in my skills giving presentations.
		</p>

		<p>I was the president and co-founder of the BG Secular Society at BGSU (2010-2012).  
		   I originally created this student organization out of a desire to reach out to other free thinkers who are like-minded and feel left 
		   out of many interesting and thought-provoking discussions on campus.  I ran this organization for three years and 
		   it turned out to be an excellent exercise in leadership and a lot of fun too.  Our numbers are growing at a moderate pace and we're slowing getting 
		   involved in the local community and building a relationship with the students on campus and the city.  
		   I'm proud of all the hard work that everyone involved has put forth and I think they are a brilliant group of people to be friends with.
		</p>

		<p>My classes are engaging, informative, thought provoking, and illuminating.  I have a bachelor's degree in Neuroscience, with a minor in Chemistry.  
		   I love learning about the brain, because it's a developing field with a lot of breakthroughs waiting to be discovered and I want to be on the forefront 
		   of those discoveries.  Not to mention how incomprehensibly complex the brain is proving to be.  I always find the act of learning about the brain to be 
		   a fascinating practice in recursion. One uses the physiology of the brain -- or mind, which empirical evidence suggests is an emergent property of the 
		   brain -- to understand the very same tool we are using to investigate it.
		</p>

		<p>My ultimate goal with my current career path in mind is to become a <strong>physician investigator</strong>.  
		   I want to be a neurologist that conducts research on the brain.  I have not narrowed it down much further than 
		   that at this point but anything involving the human brain and the pursuit of knowledge is of great interest to me.  
		   With my knowledge in my previous background as a computer programmer studying computer science at BGSU, 
		   I plan to use it to provide an interesting combination between medicine and technology that will hopefully lead to great innovations.
		</p>

		<p>In closing, I hope you have gained a better understanding of who I am and what I think about.  
		   If you have any questions, go to my <a href="contact.php">contact page</a>.
		</p>
		
	</div>
	<%= link_to_function  "Read More", "unhide('show', 'read')", :id => 'read' -%>
	
</div>

<p>Find me in app/views/main/index.html.erb</p>
