<div id="hello">
</div>
<div id="feed">
<table>
	<tr>
		<td><a href="files/eric_bower_resume.doc">Download Resume</a></td>
		<td></td>
	</tr>
	<tr>
		<td><h6>Objective</h6></td>
		<td align="center"><strong><em>Asking critical questions and being skeptical of the answers</em></strong></td>
	</tr>
	<tr>
		<td>
			<h6>Education</h6>
		</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td valign="top">
			<ul>
				<li type="circle"><strong>Bowling Green State University</strong> <br />
				<li type="circle">Bachelor's Degree (May 2012)			<br />
				<li type="circle"><em>Pre-Med <br />
				<li type="circle">Major:  Neuroscience, Minor:  Chemistry</em> <br />
				<li type="circle">I have also taken 2.5 years worth of CS classes
			</ul>
			<br />
			<ul>
				<li type="circle"><strong>Findlay High School, 2006</strong> <br />
				<li type="circle"><em>High School Diploma</em> <br />
			</ul>
		</td>
	</tr>
	<tr>
		<td><h6>Experience</h6></td>
		<td></td>
	</tr>
	<tr>
		<td valign="top"><b>Wood Haven Nursing Home</b> <br /> 
			Bowling Green, Ohio <br />
			<em>State Tested Nursing Assistant</em> <br />
			August 2011 - Present
		</td>
		<td valign="top">
			<ul>
			<li type="circle">Assisted physically or mentally disabled people of age with their daily activities
			<li type="circle">Provided vital information about our residents\' well being
			<li type="circle">Fast paced working environment
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top"><b>The Center for Teaching and Learning</b> <br /> 
			Bowling Green State University <br />
			<em>Faculty Consultant</em> <br />
			February 2008 - June 2011
		</td>
		<td valign="top">
			<ul>
			<li type="circle">I facilitated workshops on various software programs supported by the university
			<li type="circle">I made substantial revisions to their website and worked with their Content Management System extensively
			<li type="circle">I also aid faculty and staff on how to use technologies and software supported by the university
			<li type="circle">I was required to maintain all the software and computers located within the office (15-20 computers total)
			<li type="circle">Because of this job and previous experience I am an expert in most commonly used software <br /> (i.e. Microsoft Office suite, Matlab, iWork suite, Adobe suite, Audacity, etc.)
			<li type="circle">Proficient in the most popular operating systems (Ubuntu, Windows XP, Vista, 7, and Mac OSX)
			<li type="circle">My proudest accomplishment was publishing two articles in our newsletter
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top"><strong>Freelance</strong><br />
			Columbus, Ohio <br />
			Content Management Systems <br />
			<em>Programming</em> <br />
			August 2006 - June 2007
		</td>
		<td valign="top">
			<ul>
				<li type="circle">Created a Content Management System for a news website; and
				<li type="circle">Managed and updated the back-end programming for 6 months
				<li type="circle">Worked with a web development company by creating and managing the back-end programming
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top"><strong>Freelance</strong><br />
			Findlay, Ohio <br />
			PHP/mySQL Web Developer <br />
			<em>Programming</em> <br />
			August 2005 - June 2006
		</td>
		<td valign="top">
			<ul>
				<li type="circle">PHP and mySQL web developer for a web design company
				<li type="circle">Collaborated on the content management system
				<li type="circle">I also help utilize Search Engine Optimization techniques
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<strong>Dietches Brothers</strong> <br />
			Findlay, Ohio <br />
			<em>Ice Cream Assistant</em> <br />
			June 2005 - May 2006
		</td>
		<td valign="top">
			<ul>
				<li type="circle">Scooped ice cream
				<li type="circle">Made sundas, milkshakes, malts, etc.
				<li type="circle">Interacted with customers
				<li type="circle">Managed cash register
				<li type="circle">Mopped floors
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<strong>Cheddars</strong> <br />
			Findlay, Ohio <br />
			<em>Bus Boy</em> <br />
			February 2004 - May 2005
		</td>
		<td valign="top">
			<ul>
				<li type="circle">Bussed and cleaned tables
				<li type="circle">Interacted with customers
				<li type="circle">Managed trash receptacles
				<li type="circle">Mopped floors
			</ul>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<h6>Accomplishments</h6>
		</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td valign="top">
			<ul>
				<li type="circle">1 year of independent lab research at BGSU where I worked in a lab that was interested in quantum dots, which act as molecular semiconductors
				<li type="circle">2 years of independent lab research at BGSU where I worked in a lab that was interested in non-visual spatial cognition with blind cave fish
				<li type="circle">President and co-founder of BGSS (<a href="http://bgsecular.org">Bowling Green Secular Society</a>); which is a student organization at BGSU.
				<li type="circle">Awarded a summer research grant in 2010 for <a href="http://www.bgsu.edu/setgo/">SETGO</a> and gave a presentation on my research
				<li type="circle">I conducted a presentation at Battleground States 2010 on the undergraduate panel. The title of my presentation was "The Israel-Palestine Conflict through the Lens of US Media.”
				<li type="circle">Conducted a presentation at the Annual Undergraduate Brown Bag Seminar 2010 
				<li type="circle">Published two articles for the Center for Teaching and Learning\'s newsletter:  
					<ul>
						<li type="disc">“A Student\'s Point-of-View on PowerPoint for Learning” and
						<li type="disc">“The Importance of Instructor Communication from a Student\'s Perspective”
					</ul>
				<li type="circle">8+ years of computer programming experience, with a focus in web development and some software development (C++, C#, PHP, mySQL, JAVA, Javascript, HTML, XML, AJAX)
				<li type="circle">Awards received at Business Professionals of America:
					<ul>
						<li type="disc">2nd place in C++ local competition for Business Professionals of America (2004)
						<li type="disc">1st place in Microsoft Access local competition for Business Professionals of America (2004)
						<li type="disc">Top 20 in Microsoft Access state competition in Columbus, Ohio for Business Professionals of America (2004)
						<li type="disc">1st place in Web Design for Business Professionals of America (2005)
					</ul>
				<li type="circle">Volunteer at University of Toledo Medical Center (24 hours)
				<li type="circle">Volunteer at Wood County Animal Shelter (30 hours)
				<li type="circle">Volunteer at Wood County Hospital (29 hours)
				<li type="circle">Volunteer at Seeds of Hope Farm (45 hours)
				<li type="circle">Shadowed an osteopathic physician at Blanchard Valley Health System (25 hours in 2011)
			</ul>
		</td>
	</tr>
	<tr>
	<td></td>
	<td><strong><em>References provided upon request</em></strong>
	</tr>
</table>
</div>